## Colcon
**/build
**/install
**/log

## Python
**/__pycache__
**/*.py[oc]
**/*.py[cod]
**/build
**/dist
**/wheels
**/*.egg-info

## Cache
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

## Reports
**/.coverage
**/coverage.xml
**/junit.xml
**/report
**/reports

## Dev Container
.devcontainer

## Docker
Dockerfile*
.docker
.dockerignore

## Git
.git
.gitignore
.gitmodules

## GitHub
.github

## Pre-commit
.git_hooks
.pre-commit-config.yaml
